<section class="" style="margin-top:200px ; ">
    <div class="container-fluid  mt-100 h-auto">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center text-success">
                        <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>{{users.Full_name}},Your Cart is Empty</strong></h3>
                        <h4>Shop Now !!</h4>
                        <a href="/userlogin" class="btn btn-warning cart-btn-transform m-3" data-abc="true">continue
                            shopping</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>