<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

<style>
    .contain {
        text-align: center;
        background: #EBF0F5;
    }

    .heading-success {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .message {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    .checkmark {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card-success {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 0px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }

    .zeroWishlist{
        padding-top: 150px;
        padding-bottom: 150px;
    }
</style>

<section style="background-image: linear-gradient( 135deg, #e5ed6b 10%, #37e518 100%);" class="zeroWishlist">
    <div class="container contain">
        <div class="row">
            <div class="card-success border border-2">
                {{!-- <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">

                </div> --}}
                <p class="message">Your order list is empty;<br />Have a great shopping !!</p>
                <a class="btn btn-success mt-3" href="/">Go Shopping</a>
            </div>
        </div>
    </div>
</section>